:root{
    --header-footer_color: #2d2d96;
    --font: 'Quicksand', sans-serif;
    --white: #fff;
    --clear-gray: rgb(203, 203, 233);
    --midle-gray: gray;
    --dark-gray: #333;
    --transparent-gray: rgba(180, 180, 180, 0.2);
    --transparent-black: rgba(0, 0, 0, 0.2);
    --semi-transparent-black: rgba(0, 0, 0, 0.6);
    --delete-btn-color: rgb(199, 28, 28);
    --save-btn-color: rgb(128, 214, 42);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
:focus-visible {
    outline: none;
}

header {
    height: 50px;
    
    background-color: var(--header-footer_color);
    color: var(--white);
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.title {
    position: relative;
}
.title::before {
    content: '';

    position: absolute;
    bottom: -2px;
    right: 50%;
    width: 0;
    height: 1px;

    background-color: var(--white);
    transition: all .5s;
}
.title::after {
    content: '';

    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 1px;

    background-color: var(--white);
    transition: all .5s;
}
.title:hover::before {
    width: 25%;
}
.title:hover:after {
    width: 25%;
}


/* main */
body {
    background: var(--clear-gray);
}

.form-container {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--dark-gray);
    text-align: center;


    background-color: var(--transparent-black);
    height: 60%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    ". title title ."
    ". label-name task-selector ."
    ". label-hour hour-selector ."
    ". label-days . ."
    "days-container days-container days-container days-container"
    "btn btn btn btn";
    
    justify-content: center;
    align-items: center;
    gap: 5px;
}
/* title */
.form h3 {
    grid-area: title;
    font-size: 30px;
    text-transform: uppercase;
}
/* name */
label[for="name"] {
    grid-area: label-name;
}
.task-selector {
    grid-area: task-selector;
}
/* hour */
label[for="hour"] {
    grid-area: label-hour;
}
.hour-selector{
    grid-area: hour-selector;
}
/* days */
.form label[for="days"] {
    grid-area: label-days;
}

/* days checkbox system */
.days-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    grid-area: days-container;
    position: relative;
}
.days-container input[type="checkbox"] {
    appearance: none;

    width: 50px;
    height: 50px;
    border: 1px solid var(--dark-gray);
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s;
}
.days-container input[type="checkbox"]:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px 5px var(--transparent-black);
    font-weight: 600;
}
.days-container input[type="checkbox"]:checked {
    background-color: var(--dark-gray);
}
.days-container input[type="checkbox"]:checked:before {
    color: var(--white);
    font-weight: 600;
}
.days-container .lunes::before {
    content: 'L';
}
.days-container .martes::before {
    content: 'M';
}
.days-container .miercoles::before {
    content: 'Mi';
}
.days-container .jueves::before {
    content: 'J';
}
.days-container .viernes::before {
    content: 'V';
}
.days-container .sabado::before {
    content: 'S';
}
.days-container .domingo::before {
    content: 'D';
}


/* grales */
.form input{
    border-radius: 10px;
    height: 40px;
    text-align: center;
    border: none;
}
/* button */
.form button {
    grid-area: btn;
    background-color: var(--white);
    border: none;
    width: 25%;
    height: 40px;
    margin: auto;

    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;

    transition: all 0.1s ease-in;        
}
.form button:hover {
    background-color: var(--midle-gray);
    color: var(--white);
    transform: scale(1.05);
    box-shadow: 0 0 30px 10px var(--transparent-black);
}
.form button:active {
    transform: scale(0.9);
}


.container-days{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;

    height: 100%;
    padding: 50px;

    position: relative;
}
.day {
    position: relative;
    padding: 10px;
    font-weight: 700;
    
    display: flex;
    flex-direction: column;  
    
    border-radius: 20px;
    background-color: var(--transparent-black);
    width: 350px;
    height: 200px;
    transition: all .25s;
    overflow: hidden;
}
.day:hover {
    background-color: var(--semi-transparent-black);
    color: var(--white);
    transform: scale(1.05, 1.1);
    overflow-y: auto;
}
.day-title{ 
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
}
.day-ul {
    position: relative;
    width: 100%;
    margin: 0 10%;


    list-style-type: none;
    list-style-position: inside;
    transition: margin .25s;
}
.day:hover > .day-ul {
    margin: 0;
    list-style-type: disc;
}
.day-ul li {
    width: 80%;
    margin: 3px;
    text-align: center;
}
.day:hover .day-ul li {
    width: 80%;
    text-align: start;
}
.day-ul li p span {
    display: none;
}




/* botones borrar o completar */
.btn-container {
    position: absolute;
    right: 2.5%;
    display: none;
}
.day:hover .btn-container{
    display: inline;
}
.btn-delete,.btn-check, .btn-edit{
    display: inline;
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.fa-xmark,.fa-check, .fa-pen-to-square{ /* estilos del <i> contenedor */
    padding: 7px;
    position: relative;
}
.fa-xmark::before,.fa-check::before, .fa-pen-to-square::before{ /* estilos al before que contiene al icono */
    color: var(--transparent-gray);
    padding: 5px;
    width: 10px;
    height: 10px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: all .2s;
}
.btn-delete:hover .fa-xmark::before{
    color: var(--delete-btn-color);
    transform: scale(1.2);
}
.btn-check:hover .fa-check::before{
    color: var(--save-btn-color);
    transform: scale(1.2);
}
.btn-edit:hover .fa-pen-to-square::before{
    color: var(--midle-gray);
    transform: scale(1.2);
}

.completed { /*cambia color cuando completa*/
    color: var(--save-btn-color);
}
.completed::before {
    color: var(--save-btn-color);
}
.day:not(:hover) .completed {
    color: var(--save-btn-color);
    padding: 5px;
    background-color: #444;
    border-radius: 10px;
}

.delete-all {
    display: block;
    border: var(--delete-btn-color) solid 2px;
    color: var(--delete-btn-color);
    border-radius: 100px;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: .5px;
    
    margin: 20px auto;
    padding: 20px;
    cursor: pointer;
    transition: all .25s;
}
.delete-all:hover{
    background-color: var(--delete-btn-color);
    color: var(--white);
    box-shadow: 0 0 15px 2px var(--delete-btn-color-hover);
}
.reset-all {
    display: block;
    border: var(--dark-gray) solid 2px;
    color: var(--dark-gray);
    border-radius: 100px;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: .5px;
    
    margin: 20px auto;
    padding: 20px;
    cursor: pointer;
    transition: all .25s;
}
.reset-all:hover{
    background-color: var(--dark-gray);
    color: var(--white);
    box-shadow: 0 0 15px 2px var(--dark-gray);
}


/* footer */
footer {
    height: 50px;
    
    background-color: var(--header-footer_color);
    color: var(--white);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    bottom: 0;
}
footer a {
    color: var(--white);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.modal-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--semi-transparent-black);

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    width: 60%;
    height: 60%;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    ". title title ."
    ". label-name task-selector ."
    ". label-hour hour-selector ."
    ". label-days . ."
    "days-container days-container days-container days-container"
    ". btns btns ."
    ;

    position: relative;
    animation: slide-down .3s;
    transition: all .3s;
}
@keyframes slide-down {
    from {
        top:-100%
    }
    to {
        top: 0;
    }
}
.slide-up {
    transform: translateY(-150%);
}
.modal input {
    border: 1px solid var(--dark-gray);
}
.btn-container-modal {
    grid-area: btns;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.modal .btn-container-modal .save-changes-modal {
    border: 2px solid var(--save-btn-color);
    color: var(--save-btn-color);
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    
    width: 150px;
    height: 50px;
    transition: all .25s;
} 
.btn-container-modal .save-changes-modal:hover {
    background-color: var(--save-btn-color);
    color: var(--white);
}
.btn-container-modal .dismiss-changes-modal {
    border: 2px solid var(--delete-btn-color);
    color: var(--delete-btn-color);
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    
    width: 150px;
    height: 50px;
    transition: all .25s;
}
.btn-container-modal .dismiss-changes-modal:hover {
    background-color: var(--delete-btn-color);
    color: var(--white);
}