:root{
    --header-footer_color: #2d2d96;
    --font: 'Quicksand', sans-serif;
    --white: #fff;
    --clear-gray: rgb(203, 203, 233);
    --midle-gray: gray;
    --dark-gray: #444;
    --transparent-gray: rgba(180, 180, 180, 0.2);
    --transparent-black: rgba(0, 0, 0, 0.2);
    --semi-transparent-black: rgba(0, 0, 0, 0.6);
    --delete-btn-color: rgb(199, 28, 28);
    --save-btn-color: rgb(128, 214, 42);

    --feriado-puente:#738fd7;
    --feriado-traladable: #bb73d7;
    --feriado-inamovible: #ecee5d;
    --feriado-nolaborable: #73d7b1;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header, footer {
    height: 50px;
    background-color: var(--header-footer_color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer a {
    color: var(--white);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

/* main */
body {
    background: var(--clear-gray);
    text-align: center;
}

.form-container {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--dark-gray);

    background-color: var(--transparent-black);
    height: 60%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    ". title title ."
    ". label-name task-selector ."
    ". label-hour hour-selector ."
    ". label-days . ."
    "days-container days-container days-container days-container"
    ". btn btn .";
    
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* title */
.form h3 {
    grid-area: title;
    font-size: 30px;
    text-transform: uppercase;
}
/* name */
label[for="name"] {
    grid-area: label-name;
}
.task-selector {
    grid-area: task-selector;
}
/* hour */
label[for="hour"] {
    grid-area: label-hour;
}
.hour-selector{
    grid-area: hour-selector;
}
/* days */
.form label[for="days"] {
    grid-area: label-days;
}

/* days checkbox system */
.days-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    grid-area: days-container;
    position: relative;
}
.days-container input[type="checkbox"] {
    appearance: none;

    width: 50px;
    height: 50px;
    border: 1px solid var(--dark-gray);
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s;
}
.days-container input[type="checkbox"]:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px 5px var(--transparent-black);
    font-weight: 600;
}
.days-container input[type="checkbox"]:checked {
    background-color: var(--dark-gray);
}
.days-container input[type="checkbox"]:checked:before {
    color: var(--white);
    font-weight: 600;
}
.days-container .lunes::before {
    content: 'L';
}
.days-container .martes::before {
    content: 'M';
}
.days-container .miercoles::before {
    content: 'Mi';
}
.days-container .jueves::before {
    content: 'J';
}
.days-container .viernes::before {
    content: 'V';
}
.days-container .sabado::before {
    content: 'S';
}
.days-container .domingo::before {
    content: 'D';
}


/* grales */
.form input{
    border-radius: 10px;
    height: 40px;
    border: none;
    text-align: center;
}
/* button */
.form button {
    grid-area: btn;

    border: 2px solid var(--dark-gray);
    background-color: transparent;
    color: var(--semi-transparent-black);
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 600;
    
    min-width: 150px;
    min-height: 50px;
    margin: 10px auto;
    padding: 10px 30px;
    cursor: pointer;

    transition: all 0.15s ease-in;        
}
.form button:hover {
    background-color: var(--dark-gray);
    color: var(--white);
    transform: scale(1.05);
    box-shadow: 0 0 15px 2px var(--dark-gray);
}
.form button:active {
    transform: scale(0.9);
}

.select-display__btn {
    background-color: transparent;
    border: none;
    font-weight: 600;
    color: var(--midle-gray);
    cursor: pointer;
    margin: 10px;
    font-size: 15px;
}
.actual {
    color: var(--dark-gray);
    border-bottom: 1px solid var(--dark-gray);
}

.holiday-reference {
    margin: 10px auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.holiday-reference p {
    padding: 5px;
    margin: 5px;
    color: var(--semi-transparent-black);
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
}
.holiday-reference p:first-of-type {
    color: var(--dark-gray);
    font-weight: 800;
}
.holiday-reference__circle--inamovible{
    background-color: var(--feriado-inamovible);
}
.holiday-reference__circle--nolaborable{
    background-color: var(--feriado-nolaborable);
}
.holiday-reference__circle--puente{
    background-color: var(--feriado-puente);
}
.holiday-reference__circle--trasladable{
    background-color: var(--feriado-traladable);
}


.container-days{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;

    height: 100%;
    padding: 50px;

    position: relative;
}
.day {
    position: relative;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    
    display: flex;
    flex-direction: column;  
    
    border-radius: 20px;
    background-color: var(--transparent-black);
    width: 350px;
    height: 300px;
    transition: all .25s;
    overflow: hidden;
}
.day:hover{
    background-color: var(--semi-transparent-black);
    color: var(--white);
    transform: scale(1.05, 1.1);
    overflow-y: auto;
}
.day-title{ 
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
}
.day-date {
    font-weight: 400;
    font-size: 12px;
    color: var(--midle-gray);
    position: absolute;
    top: 10px;
    right: 10px;
}
.holiday-marker {
    color:var(--semi-transparent-black) !important;
    text-decoration: none;
    font-size: 12px;
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    top: 8px;
    left: 10px;
    cursor: pointer;
}
.day-ul {
    position: relative;
    width: 100%;
    margin: 0 10%;


    list-style-type: none;
    list-style-position: inside;
    transition: margin .25s;
}
.day:hover > .day-ul {
    margin: 0;
    list-style-type: disc;
}
.day-ul li {
    width: 80%;
    margin: 3px;
}
.day:hover .day-ul li {
    width: 80%;
    text-align: start;
}

/* botones borrar o completar */
.btn-container {
    position: absolute;
    right: 2.5%;
    display: none;
}
.day:hover .btn-container{
    display: inline;
}
.btn-delete,.btn-check, .btn-edit{
    color: var(--clear-gray);
    display: inline;
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin: 0 2px;
}
.fa-xmark,.fa-check, .fa-pen-to-square{ /* estilos del <i> contenedor */
    padding: 7px;
    position: relative;
}
.fa-xmark::before,.fa-check::before, .fa-pen-to-square::before{ /* estilos al before que contiene al icono */
    padding: 5px;
    width: 10px;
    height: 10px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: all .2s;
}
.btn-delete:hover .fa-xmark::before{
    color: var(--delete-btn-color);
    transform: scale(1.2);
}
.btn-check:hover .fa-check::before{
    color: var(--save-btn-color);
    transform: scale(1.2);
}
.btn-edit:hover .fa-pen-to-square::before{
    color: var(--feriado-puente);
    transform: scale(1.2);
}

.completed { /*cambia color cuando completa*/
    color: var(--save-btn-color);
}
.day:not(:hover) .completed {
    color: var(--save-btn-color);
    padding: 5px;
    background-color: var(--dark-gray);
    border-radius: 10px;
}

.delete-all {
    display: block;
    border: var(--delete-btn-color) solid 2px;
    color: var(--delete-btn-color);
    border-radius: 100px;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: .5px;
    
    margin: 20px auto;
    padding: 20px;
    cursor: pointer;
    transition: all .25s;
}
.delete-all:hover{
    background-color: var(--delete-btn-color);
    color: var(--white);
    box-shadow: 0 0 15px 2px var(--delete-btn-color-hover);
}
.reset-all {
    display: block;
    border: var(--dark-gray) solid 2px;
    color: var(--dark-gray);
    border-radius: 100px;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: .5px;
    
    margin: 20px auto;
    padding: 20px;
    cursor: pointer;
    transition: all .25s;
}
.reset-all:hover{
    background-color: var(--dark-gray);
    color: var(--white);
    box-shadow: 0 0 15px 2px var(--dark-gray);
}

.modal-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--semi-transparent-black);

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    width: 60%;
    height: 60%;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;

    position: relative;
    animation: slide-down .3s;
    transition: all .3s;
}
@keyframes slide-down {
    from {
        top:-100%
    }
    to {
        top: 0;
    }
}
.slide-up {
    transform: translateY(-150%);
}
.modal input {
    border: 1px solid var(--dark-gray);
}
.btn-container-modal {
    grid-area: btn;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.btn-container-modal .save-changes-modal {
    border: 2px solid var(--save-btn-color);
    color: var(--save-btn-color);
} 
.btn-container-modal .save-changes-modal:hover {
    background-color: var(--save-btn-color);
    color: var(--white);
}
.btn-container-modal .dismiss-changes-modal {
    border: 2px solid var(--delete-btn-color);
    color: var(--delete-btn-color);
}
.btn-container-modal .dismiss-changes-modal:hover {
    background-color: var(--delete-btn-color);
    color: var(--white);
}

.today {
    width: 80%;
    height: 60vh;
}

@media screen and (max-width: 900px) {
    .today {
        width: 100%;
    }
    .form h3 {
        font-size: 22px;
    }
    .form {
        width: 80%;
        height: 80%;
    }
    .days-container input[type="checkbox"] {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    /* .btn-check:hover .fa-check::before {
        color: inherit;
        transform: scale(1);
    } */
    .modal{
        height: 80%;
    }
}
@media screen and (max-width: 400px) {
    .form button {
        min-width: 100px;
        min-height: 50px;
        max-width: 100px;
        max-height: 50px;
        padding: 5px;
    }
}